#carousel-label{
    background-color: rgb(249, 214, 252);
}
#small-cards-container{
    background-color: rgb(243, 243, 243);
}
.bg-light-dark{
    background-color: rgb(243, 243, 243);
}
.blue-color{
    color: #312E81;
}
.bg-blue{
    background-color: #312E81;
}
.bg-blue-light{
    background-color: rgb(249, 214, 252);
}
.cards:hover{
    transform: scale(1,1.1);
    transition: 1s;
}
.blue-light{
    color: #f5bcea;
}
.text-color{
    color: #fdfeff;
}