h2 {
    margin-top: 50px;
    text-align: center;
    font-size: larger;
}
hr {
    border-color: brown;
}
hr, div{
    margin-left: 6%;
    margin-right: 6%;
}
div, #introduction {
    font-size: medium;
}
#introduction {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}