.container{
    width: 100%;
    margin-top: 40px;
}
table-container{
    width: 100%;
}
table{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
th,td{
    border: 1px solid black;
}
td{
    padding-left: 5px;
}
h3{
    text-align: center;
}
